<!doctype html>
<html data-ng-app="taskmaster">
<head>
  <!-- build:section partials.meta -->
  <!-- /build -->

  <title>Task Master</title>

  <!-- build:section partials.favicon -->
  <!-- /build -->

  <!-- build:section partials.style -->
  <!-- /build -->
</head>
<body>
  <!-- build:section components.header -->
  <!-- /build -->

  <div class="container">
    <!-- build:section components.boards -->
    <!-- /build -->
  </div>

  <script src="/scripts/angular.min.js"></script>
  <script src="/scripts/task-master-front-end.min.js"></script>

</body>
</html>
